.form-control {
    border: none !important;
}
.hr-line {
    margin-top: 0px;
}
.form {
    width: 75%;
    margin: 0 auto;
    &__required {
        margin-top: -12px;
        font-size: small;
    }
}

.buttons {
    text-align: center;
    margin-top: 30px;
    &__login {
        color: #fff;
        background-color: #b99d6b;
        border-color: #b99d6b;
        width: 30%;
    }
    
    &__register {
        color: #fff;
        background-color: black;
        border-color: black;
        width: 30%;
        margin-left: 30px;
    }

    &__span {
        font-family: "BasisGrotesque-Regular-Pro";
        font-weight: inherit;
        color: black;
        line-height: 16px;
        font-size: 16px;
    }
}