<pagination-controls (pageChange)="pageChanged($event)" class="text-center"></pagination-controls>
<div class="ship" *ngFor="let ships of dataList.results | paginate: config; ; let i = index" (click)="openDetails(ships)">
    <div class="panel-heading">
        <h3 class="panel-title">{{ships.name}}</h3>
    </div>
    <div class="panel-body text-center color">
        <img [src]="getStarshipId(ships.url)" onError="this.src='assets/img/errorImg_x3.svg'" class="imgSize">
    </div>
</div>

<!-- Modal Details-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{titleDetails}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>Model : {{modelDetails}}</span><br>
          <span>starship_class: {{starship_class}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


